@import './variables.css';

.edit-btn {
    width: 184px;
    height: 32px;
    margin-top: 14px;
    margin-left: 14px;
    background-color: var(--primary-edit-color);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--font-edit-color);
    font-size: var(--font-edit-size);
    font-weight: var(--font-btns-weight);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: .3s;
}

.edit-btn:hover {
    background-color: var(--secondary-edit-color);
}

.delete-btn {
    width: 184px;
    height: 32px;
    margin-top: 48px;
    margin-left: 14px;
    background-color: var(--primary-delete-color);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--font-delete-color);
    font-size: var(--font-delete-size);
    font-weight: var(--font-btns-weight);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: .3s;
}

.delete-btn:hover {
    background-color: var(--secondary-delete-color);
}