@import './variables.css';

.course-edit-form {
    position: fixed;
    width: 773px;
    height: 594px;
    top: 247px;
    background-color: var(--course-edit-form-bckg-clr);
    border: 2px solid var(--border-color);
    border-radius: var(--course-edit-form-border-radius);

    display: flex;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}