:root {
    --primary-edit-color: #FFFFFF;
    --secondary-edit-color: #D8D8D8;
    --font-edit-color: #1B2A40;
    --font-edit-size: 14px;

    --primary-delete-color: #FA9797;
    --secondary-delete-color: #F24242;
    --font-delete-color: #1B2A40;
    --font-delete-size: 14px;

    --border-color: #1B2A40;
    --border-radius: 10px;

    --font-btns-weight: 600;
}