body {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}

.cards-row {
    display: flex;
}

.course-card {
    height: 60rem;
    width: 40rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    margin-right: 1rem;
    cursor: pointer;
}

.course-card .image {
    margin-top: 1%;
    height: 50%;
    width: 98%;
    background-color: #9b9b9b;
    justify-content: center;
    border-radius: 14px 14px 0px 0px;
    overflow: hidden;
}

.course-card .image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.course-card .card-text{
    text-align: center;
    margin: 1%;
}

.course-card .card-text h1{
    color: black;
    font-size: 1.8rem;
}

.course-card .card-text span{
    color: black;
    font-size: 1.8rem;
}

.course-add-card {
    height: 60rem;
    width: 40rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    margin-right: 1rem;
}

.course-add-card .add-button {
    height: 98%;
    width: 98%;
    background-color: #9b9b9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
}

